<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <div class="container vh-100">
      <div class="row h-100">
        <div class="col-3"></div>
        <div class="col-6">
          <form method="post" action="/install" class="myCard my-4">
            <div>
              <img
                src="images/NSE_IT.png"
                class="rounded mx-auto d-block mt-5 mb-3 logo"
                alt="NSE_IT"
              />
              <h1 class="h2 font-weight-normal text-center mb-3">
                Tools Automation
              </h1>
              <div
                class="container d-flex justify-content-center align-items-center"
              >
                <div class="progresses">
                  <div>
                    <a href="/" class="steps">
                      <span class="font-weight-bold">1</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="version" class="steps">
                      <span class="font-weight-bold">2</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="server" class="steps">
                      <span class="font-weight-bold">3</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="#" class="steps">
                      <span class="font-weight-bold">4</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="content pt-3">
                <% if(selectedTools.jenkins) { %>
                <label for="port" class="form-label mt-1 bs-secondary-color"
                  >Jenkins port</label
                >
                <input
                  type="text"
                  class="form-control mb-3"
                  id="jenkinsPort"
                  name="jenkinsPort"
                  value="<%= selectedPorts.jenkinsPort %>"
                  placeholder="eg: 8080"
                />
                <p
                  id="jenkinsPortError"
                  class="text-danger font-weight-bold error"
                >
                  <%= jenkinsPortError%>
                </p>
                <% } %> <% if(selectedTools.nexus) { %>
                <label
                  for="nexusPort"
                  class="form-label mt-1 bs-secondary-color"
                  >Nexus port</label
                >
                <input
                  type="text"
                  class="form-control mb-3"
                  id="nexusPort"
                  name="nexusPort"
                  value="<%= selectedPorts.nexusPort %>"
                  placeholder="eg: 8081"
                />
                <p
                  id="nexusPortError"
                  class="text-danger font-weight-bold error"
                >
                  <%= nexusPortError%>
                </p>
                <% } %> <% if(selectedTools.sonarQube) { %>
                <label
                  for="sonarPort"
                  class="form-label mt-1 bs-secondary-color"
                  >SonarQube port</label
                >
                <input
                  type="text"
                  class="form-control mb-3"
                  id="sonarPort"
                  name="sonarPort"
                  value="<%= selectedPorts.sonarPort %>"
                  placeholder="eg: 9000"
                />
                <p
                  id="sonarPortError"
                  class="text-danger font-weight-bold error"
                >
                  <%= sonarPortError%>
                </p>
                <% } %>
              </div>
            </div>
            <section id="home" style="display: none">
              <p>
                Loading... <% if(selectedTools.jenkins) { %> Installing Java <%=
                selectedVersions.java %>, Jenkins on the ubuntu server <%=
                selectedVersions.ubuntu %>.
                <br />
                <% } %> <% if(selectedTools.nexus) { %> Installing Java <%=
                selectedVersions.javaSonarVersion %> on the ubuntu server <%=
                selectedVersions.ubuntu %>.
                <br />
                <% } %> <% if(selectedTools.sonarQube) { %>
                <br />
                Installing Java <%= selectedVersions.javaSonarVersion %> on the
                ubuntu server <%= selectedVersions.ubuntu %>. <% } %>
                <br />
                Please wait for few seconds.
              </p>
            </section>

            <input
              type="submit"
              class="button-success my-3 text-center w-25"
              value="Install"
              id="btn"
            />
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </body>

  <%- include ('./partials/footer') %>
  <script>
    (function (e) {
      "use strict";
      e.fn.textTyper = function (t) {
        var n = {
            typingClass: "typing",
            beforeAnimation: function () {},
            afterAnimation: function () {},
            speed: 10,
            nextLineDelay: 400,
            startsFrom: 0,
            repeatAnimation: false,
            repeatDelay: 4e3,
            repeatTimes: 1,
            cursorHtml: '<span class="cursor">|</span>',
          },
          r = e.extend({}, n, t);
        this.each(function () {
          var t = e(this),
            n = 1,
            i = "typingCursor";
          var s = t,
            o = s.length,
            u = [];
          while (o--) {
            u[o] = e.trim(e(s[o]).html());
            e(s[o]).html("");
          }
          t.init = function (e) {
            var n = r.beforeAnimation;
            if (n) n();
            t.animate(0);
          };
          t.animate = function (o) {
            var a = s[o],
              f = r.typingClass,
              l = r.startsFrom;
            e(a).addClass(f);
            var c = setInterval(function () {
              var f = r.cursorHtml;
              f = e("<div>").append(e(f).addClass(i)).html();
              e(a).html(u[o].substr(0, l) + f);
              l++;
              if (u[o].length < l) {
                clearInterval(c);
                o++;
                if (s[o]) {
                  setTimeout(function () {
                    e(a).html(u[o - 1]);
                    t.animate(o);
                  }, r.nextLineDelay);
                } else {
                  e(a)
                    .find("." + i)
                    .remove();
                  if (
                    r.repeatAnimation &&
                    (r.repeatTimes == 0 || n < r.repeatTimes)
                  ) {
                    setTimeout(function () {
                      t.animate(0);
                      n++;
                    }, r.repeatDelay);
                  } else {
                    var h = r.afterAnimation;
                    if (h) h();
                  }
                }
              }
            }, r.speed);
          };
          t.init();
        });
        return this;
      };
    })(jQuery);

    $(document).ready(function () {
      $("#home").addClass("open");
      $("#home").textTyper({
        speed: 20,
        afterAnimation: function () {
          $(".command").fadeIn();
        },
      });

      var sectionArray = [];
      $("section").each(function (i, e) {
        sectionArray.push($(e).attr("id"));
      });
    });
  </script>
  <script>
    window.onload = function () {
      document.getElementById("btn").addEventListener("click", () => {
        document.getElementById("home").style.display = "block";
      });
    };
  </script>
</html>
