<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <div class="container vh-100">
      <div class="row h-100">
        <div class="col-3"></div>
        <div class="col-6">
          <form method="post" action="/version" class="myCard my-4">
            <div>
              <img
                src="images/NSE_IT.png"
                class="rounded mx-auto d-block mt-5 mb-3 logo"
                alt="NSE_IT"
              />
              <h1 class="h2 font-weight-normal text-center mb-3">
                Tools Automation
              </h1>
              <div
                class="container d-flex justify-content-center align-items-center"
              >
                <div class="progresses">
                  <div>
                    <a href="/" class="steps">
                      <span class="font-weight-bold">1</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="#" class="steps">
                      <span class="font-weight-bold">2</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="#" class="steps-outline">
                      <span class="font-weight-bold">3</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="#" class="steps-outline">
                      <span class="font-weight-bold">4</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="content">
                <p class="h6 mt-5 mb-1 bs-secondary-color">
                  Please select the Ubuntu version
                </p>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  id="ubuntuVersion"
                  name="ubuntuVersion"
                >
                  <option value="Ubuntu version" <%= selectedVersions.ubuntu === "Ubuntu version" ? "selected" : "" %> 
                  >
                    Ubuntu version </option>
                  <option value="20.04" 
                  <%= selectedVersions.ubuntu ==="20.04" ? "selected" : "" %> 
                  >20.04 LTS</option>
                  <option value="22.04" 
                  <%= selectedVersions.ubuntu ==="22.04" ? "selected" : "" %> 
                  >22.04 LTS</option>
                </select>
                <p
                  id="ubuntuVersionError"
                  class="text-danger font-weight-bold error"
                >
                  <%= ubuntuVersionError %>
                </p>

                <p class="h6 mt-3 mb-1 bs-secondary-color">
                  Please select the Java version
                </p>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  id="javaVersion"
                  name="javaVersion"
                >
                  <option value="Java version" 
                  <%= selectedVersions.java ==="Java version" ? "selected" : "" %> >Java version</option>
                  <option value="11"
                  <%= selectedVersions.java ==="11" ? "selected" : "" %>>Java 11</option>
                  <option value="17">
                    <%= selectedVersions.java ==="17" ? "selected" : "" %>Java 17</option>
                </select>
                <p
                  id="javaVersionError"
                  class="text-danger font-weight-bold error"
                >
                  <%= javaVersionError %>
                </p>
              </div>
            </div>

            <!-- href="step3.html" -->
            <input
              type="submit"
              value="Select"
              class="button-success my-3 text-center w-25"
            />
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </body>
</html>
